.navbar {
  a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
    white-space: nowrap;
  }
}

.active {
  box-shadow: 0 6px 4px -2px rgb(196, 196, 196);
}
